<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="eyelockConnection" type="Eyelock.Service.ConnectionSettings, Eyelock.Service.Impl.Types, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <runtime>
    <gcConcurrent enabled="false"/>
  </runtime>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <!-- Строка подключения к SQL серверу и настройки Eyelock устройства -->
  <connectionStrings>
    <add name="sqlConnectionString" connectionString="data source=.\SQLEXPRESS;initial catalog=EyelockDB;persist security info=True;user id=sa;password=sa;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <eyelockConnection DeviceMainPanel="192.168.3.198" DeviceMainPanelPort="8081" DeviceSlavePanel="192.168.3.199" DeviceSlavePanelPort="8081" />

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>
