<?xml version="1.0" encoding="utf-8"?>
 <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EyelockCorporation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EyelockCorporation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

 

  <connectionStrings />

  <applicationSettings>
    <EyelockCorporation.Properties.Settings>
      <setting name="ProxCOM" serializeAs="String">
        <value>COM9</value>
      </setting>
      <setting name="ProxReadTimeout" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="Signature" serializeAs="String">
        <value>SG95b3N8bW9yZSNAIWV4aXRmYXN0</value>
      </setting>
      <setting name="ProxWriteTimeout" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="ImageCaptureDeviceSerial" serializeAs="String">
        <value />
      </setting>
      <setting name="UsePINLabel" serializeAs="String">
        <value>Badge:</value>
      </setting>
      <setting name="KeyFile" serializeAs="String">
        <value>PDB10.bin.keys</value>
      </setting>
      <setting name="PINLength" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="InactivityPeriodInMinutes" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="UseSeparateImageDatabase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DuplicatedOverride" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PINEnforce" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SpecularityLengthThreshold" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SpecularityMaxLength" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="SpecularityMinLength" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="DatabaseVersion" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ProxCOMType" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="F2FMultiThreadedFileTransmission" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="F2FIDEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="F2FLeadingChar" serializeAs="String">
        <value>;</value>
      </setting>
      <setting name="IrisMatcherType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="EnableWatchList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FaceImageSubSample" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ExportToDrive" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RefreshSystems" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExportCodes" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UsePIN" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VerifyImages" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportIrisMatcherType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ImageCaptureDeviceType" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="F2FTrailingChar" serializeAs="String">
        <value>?</value>
      </setting>
      <setting name="ExportIris" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IrisMatcherScale" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="FeatureQualityThreshold" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="HDThreshold" serializeAs="String">
        <value>0.28</value>
      </setting>
      <setting name="FaceCamera" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BeginMessage" serializeAs="String">
        <value>Begin</value>
      </setting>
      <setting name="EndMessage" serializeAs="String">
        <value>End</value>
      </setting>
      <setting name="WorkingMessage" serializeAs="String">
        <value />
      </setting>
      <setting name="WelcomeMessage" serializeAs="String">
        <value>Welcome</value>
      </setting>
      <setting name="IrisDiameterMarginRatio" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="NearMessage" serializeAs="String">
        <value>Near</value>
      </setting>
      <setting name="FarMessage" serializeAs="String">
        <value>Far</value>
      </setting>
      <setting name="UseEncryption" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TargetScale" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="RunWithDefaultCulture" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="SourceScale" serializeAs="String">
        <value>220</value>
      </setting>
    </EyelockCorporation.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <EyelockCorporation.Properties.Settings>
      <setting name="ImageCaptureAttempts" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PermutationKeyIndex" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ListenTimeout" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ListenBestTimeout" serializeAs="String">
        <value>7000</value>
      </setting>
      <setting name="MaxGrayScaleSpec" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="QualityBasedRejection" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="QualityScoreThresh" serializeAs="String">
        <value>17.9</value>
      </setting>
      <setting name="QualityRatioMax" serializeAs="String">
        <value>1.3</value>
      </setting>
      <setting name="DisparityThreshX" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="DisparityThreshY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxPupilDiameter" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="MaxXDelta" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="MaxYDelta" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="OccludeIris" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OccludePupil" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpoofPairDepth" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Grouping" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinPupilDiameter" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="EmbeddedEnrollmentEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpoofEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowConsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PupilSearchMinAngle" serializeAs="String">
        <value>-90</value>
      </setting>
      <setting name="PupilSearchMaxAngle" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="SpecularityMaskLevel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NoOfPixelsToConsider" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="HaloRankWeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowRecognition" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoopEnrollmentUnlessCancelled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseNetworkMatcher" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BlacklistMessage" serializeAs="String">
        <value>Blacklisted</value>
      </setting>
      <setting name="IntensityThreshBP" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TopPixelsPercentage" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="InvalidReEnrollMessage" serializeAs="String">
        <value>Invalid Re-Enroll Attempt</value>
      </setting>
      <setting name="HaloThresh" serializeAs="String">
        <value>320</value>
      </setting>
      <setting name="MaxIrisDiameter" serializeAs="String">
        <value>231</value>
      </setting>
      <setting name="MinIrisDiameter" serializeAs="String">
        <value>185</value>
      </setting>
      <setting name="HaloOldRankWeight" serializeAs="String">
        <value>0.29</value>
      </setting>
      <setting name="FVRankWeight" serializeAs="String">
        <value>0.35</value>
      </setting>
      <setting name="CBMaskRankWeight" serializeAs="String">
        <value>0.36</value>
      </setting>
      <setting name="MinEyesInCluster" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="UseBlacklist" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseHboxAndNanoEnrollment" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EyeSortingImagesLog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SetProcessReadTime" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="SetProcessWriteTime" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="PermuteIris" serializeAs="String">
        <value>True</value>
      </setting>
    </EyelockCorporation.Properties.Settings>
  </userSettings>

</configuration>
