<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="index.html"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <services>
      <service name="Eyelock.UI.QueueService">
        <endpoint address="" behaviorConfiguration="Eyelock.UI.QueueServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Eyelock.UI.QueueService"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IQueueService"/>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost/Eyelock/QueueService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IQueueService" contract="EyelockService.IQueueService" name="NetTcpBinding_IQueueService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Eyelock.UI.QueueServiceAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>